* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.statusBar__container {
  // border: solid 1px black;

  width: 428px;
  height: 47px;
  margin: auto;

  display: flex;
  position: relative;

  .hour {
    position: absolute;
    width: Hug (38px);
    height: Hug (17px);
    top: 17px;
    left: 32px;
    gap: 2px;

    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.5px;
  }

  .status {
    position: absolute;
    width: Hug (88.19px);
    height: Hug (15px);
    top: 18px;
    left: 307.1px;
    gap: 7px;
  }
}
