* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation__container {
  // border: 1px solid black;
  position: relative;
  margin: auto;
  width: 428px;
  height: 80px;
  // top: 869px

  .navigationBackground {
    position: absolute;
    top: 23px;

    .casaIcon {
      position: absolute;
      top: 20px;
      left: 30px;
    }

    .lupaIcon {
      position: absolute;
      top: 20px;
      left: 100px;
    }

    .campanaIcon {
      position: absolute;
      top: 20px;
      right: 100px;
    }

    .userIcon {
      position: absolute;
      top: 20px;
      right: 30px;
    }
  }

  .newPostButton {
    position: absolute;
    // top: 847px;
    left: 181.5px;

    .cruzIcon {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
